@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using com.itransition.final.Models.ReviewModels
@using com.itransition.final.Models.UserData
@model com.itransition.final.ViewModels.Reviews.MyReviews.MyReviewsModel
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous"/>
    <link
        rel="stylesheet"
        href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"/>
    <title>My Reviews</title>
</head>
<body>
<nav class="navbar bg-light">
    <div class="container-lg mx-auto">
        <div class="col-2 col-lg-1">
            <a class="navbar-brand" href="@Url.Action("Home")">HM</a>
        </div>
        <div class="col-8 col-lg-9 text-start">
            <div class="d-flex">

            </div>
        </div>
        <div class="col-2 col-lg-1 text-end">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="btn-group dropstart">
                    <button
                        class="btn rounded-circle btn-outline-dark opacity-75 h-100"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="text-uppercase">@User.Identity.Name![0]</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <h5 class="dropdown-header">
                                Hello, @User.Identity.Name
                            </h5>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action()">
                                <i
                                    class="fi fi-rr-portrait me-1"
                                    style="vertical-align: middle">
                                </i>
                                Profile
                            </a
                            >
                        </li>
                        @if (User.IsInRole(nameof(RoleTitle.Admin)))
                        {
                            <li>
                                <a class="dropdown-item" href="@Url.Action()">
                                    <i
                                        class="fi fi-rr-business-time me-1"
                                        style="vertical-align: middle">
                                    </i>
                                    Admin panel
                                </a
                                >
                            </li>
                        }
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Reviews")">
                                <i
                                    class="fi fi-rr-eye me-1"
                                    style="vertical-align: middle">
                                </i>
                                My Reviews
                            </a
                            >
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <div class="dropdown-item">
                                <div class="form-check form-switch">
                                    <form method="" action="" class="m-0">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            role="switch"
                                            id="lang"
                                            onchange="this.form.submit();"/>
                                        <label for="lang">English/Russian</label>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-item">
                                <div class="form-check form-switch">
                                    <form method="" action="" class="m-0">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            role="switch"
                                            id="theme"
                                            onchange="this.form.submit();"/>
                                        <label for="theme">Dark/Light</label>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <form method="post" asp-action="Logout" asp-controller="Account" class="m-0">
                                <button class="btn border-0" type="submit">
                                    <i
                                        class="fi fi-rr-power me-1"
                                        style="vertical-align: middle">
                                    </i>
                                    <span>Sign out</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <a class="btn btn-outline-secondary" href="@Url.Action("Login", "Account")">
                    <i class="fi fi-rr-user-add" style="vertical-align: middle;"></i>
                </a>
            }
        </div>
    </div>
</nav>
<div class="container-lg mt-3 px-4">
<div class="row mb-3">
<div class="col-6 p-0">
<button
    class="btn btn-light h-100"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#createModal">
    <i class="fi fi-rr-add"></i>
</button>
<div
    class="modal fade"
    id="createModal"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="filter">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="CreateReview" asp-controller="Reviews" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createModal">
                        <i class="fi fi-rr-add"></i>
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3 pb-2 px-2">
                        <label for="picture" class="form-label fw-bold p-0 ps-1">
                            Picture :
                        </label>
                        <input
                            type="file"
                            id="picture"
                            class="form-control"
                            aria-label="title"
                            aria-describedby="basic-addon1"/>
                    </div>
                    <div class="row mb-3 pb-2 px-2">
                        <label asp-for="CreateReviewModel!.Title" class="form-label fw-bold p-0 ps-1">
                            Title :
                        </label>
                        <input
                            asp-for="CreateReviewModel.Title"
                            class="form-control"
                            placeholder="Game of the year"
                            required/>
                        <span class="text-danger " asp-validation-for="CreateReviewModel.Title"></span>
                    </div>
                    <div class="row mb-3 pb-2 px-2">
                        <label
                            asp-for="CreateReviewModel!.ProductTitle"
                            class="form-label fw-bold p-0 ps-1">
                            Product Title :
                        </label>
                        <input
                            asp-for="CreateReviewModel!.ProductTitle"
                            type="text"
                            class="form-control"
                            placeholder="Witcher, for example"/>
                        <span class="text-danger " asp-validation-for="CreateReviewModel.ProductTitle"></span>
                    </div>
                    <div class="row mb-3 pb-2 px-2">
                        <label class="form-label fw-bold p-0 ps-1" asp-for="CreateReviewModel.Category">
                            Category :
                        </label>
                        <select class="form-select" asp-for="CreateReviewModel.Category"
                                asp-items="Html.GetEnumSelectList<Category>()">
                            <option>Category</option>
                        </select>
                        <span class="text-danger" asp-validation-for="CreateReviewModel.Category"></span>
                    </div>
                    <div class="row mb-3 pb-2 px-2">
                        <label
                            asp-for="CreateReviewModel.Text"
                            class="form-label fw-bold p-0 ps-1">
                            Review Text :
                        </label>
                        <textarea asp-for="CreateReviewModel.Text"
                        class="form-control"
                        style="height: 200px"
                      ></textarea>
                        <span class="text-danger " asp-validation-for="CreateReviewModel.Text"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="submit">Save</button>
                    <button class="btn btn-light" type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<button
    class="btn btn-light h-100"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#filterModal">
    <i class="fi fi-rr-settings-sliders"></i>
</button>
<div
    class="modal fade"
    id="filterModal"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="filter">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="" method="">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="filterModal">
                        <i class="fi fi-rr-settings-sliders"></i>
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3 pb-2 px-2">
                        <label class="form-label fw-bold p-0 ps-1" for="categoryFilter">
                            Category :
                        </label>
                        <select class="form-select" id="categoryFilter">
                            <option value="none" selected></option>
                            <option value="films">Films</option>
                            <option value="books">Books</option>
                            <option value="games">Games</option>
                            <option value="serials">Serials</option>
                            <option value="channel">YouTube Channels</option>
                        </select>
                    </div>
                    <div class="row mb-3 pb-2 px-2">
                        <label
                            for="date"
                            class="form-label fw-bold p-0 ps-1">
                            Start from :
                        </label>
                        <input
                            type="date"
                            id="date"
                            class="form-control"
                            aria-label="productTitle"
                            placeholder="Witcher, for example"
                            aria-describedby="basic-addon2"/>
                    </div>
                    <div class="row mb-3 pb-2 px-2">
                        <label class="form-label fw-bold p-0 ps-1" for="sort">
                            Sort by :
                        </label>
                        <select class="form-select" id="sort">
                            <option value="none" selected></option>
                            <option value="rate">Rate</option>
                            <option value="likes">Likes</option>
                            <option value="date">Comments</option>
                        </select>
                    </div>
                    <div class="row pb-2 px-2 w-50">
                        <label
                            class="form-label fw-bold p-0 ps-1"
                            for="flexRadioDefault1">
                            Order by :
                        </label>

                        <div class="col-6">
                            <div class="form-check align-self-center ms-2">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="flexRadioDefault"
                                    id="flexRadioDefault1"/>
                                <label
                                    class="form-check-label"
                                    for="flexRadioDefault1">
                                    Asc
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check align-self-center ms-2">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="flexRadioDefault"
                                    id="flexRadioDefault1"/>
                                <label
                                    class="form-check-label"
                                    for="flexRadioDefault1">
                                    Desc
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="submit">Show</button>
                    <button class="btn btn-light" type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="col-6 p-0">
    <form class="d-flex me-2 m-0 w-100" role="search" method="" action="">
        <input
            id="searchInput"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            required/>
        <button class="btn btn-outline-success" type="submit">
            <i class="fi fi-rr-search"></i>
        </button>
    </form>
</div>
</div>
@for (int i = 0; i < Model.Reviews!.Count(); i++)
{
    <div class="row mb-3">
        <div class="col-sm-6 col-md-3 col-lg-1 px-0">
            <img
                class="img-fluid h-100"
                src=""/>
        </div>
        <div
            class="col-sm-6 col-md-9 col-lg-11 border-bottom border-end border-start">

            <div class="row h-100">
                <div class="col-md-6 col-lg-4">
                    <div
                        class="row align-items-center fw-bold justify-content-center h-50 py-3 border-bottom border-top">
                        Product Title
                    </div>
                    <div
                        class="row align-items-center fw-bold text-muted justify-content-center h-50 px-2 py-3">
                        @Model.Reviews[i].Product.Title
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div
                        class="row align-items-center fw-bold justify-content-center h-50 py-3 border-bottom border-top">
                        Category
                    </div>
                    <div
                        class="row align-items-center fw-bold text-muted justify-content-center h-50 px-2 py-3">
                        @Model.Reviews[i].Product.Category
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div
                        class="row align-items-center fw-bold justify-content-center h-50 border-bottom border-top py-3">
                        Date
                    </div>
                    <div
                        class="row align-items-center fw-bold text-muted justify-content-center h-50 px-2 py-3">
                        @Model.Reviews[i].PublishDateTime.Date.ToString("dd/MM/yyyy")
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div
                        class="row align-items-center fw-bold justify-content-center h-50 border-bottom border-top py-3">
                        Actions
                    </div>
                    <div
                        class="row align-items-center fw-bold text-muted justify-content-center h-50 px-2 py-3">
                        <div class="col-3 p-0 text-center">
                            <a
                                class="btn border-0"
                                href="@Url.Action("ReviewDetails", "Reviews", new {reviewId = Model.Reviews[i].ReviewId})"
                                style="
                          vertical-align: middle;
                          --bs-btn-padding-y: 0;
                          --bs-btn-padding-x: 0;
                        ">
                                <i class="fi fi-rr-search-alt">
                                </i
                                >
                            </a>
                        </div>
                        <div class="col-3 text-center">
                            <form action="" method="" class="m-0">
                                <button
                                    class="btn border-0"
                                    type="sumbit"
                                    style="
                            vertical-align: middle;
                            --bs-btn-padding-y: 0;
                            --bs-btn-padding-x: 0;
                          ">
                                    <i class="fi fi-rr-eye"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <form action="" method="" class="m-0">
                                <button
                                    class="btn border-0"
                                    type="sumbit"
                                    style="
                            vertical-align: middle;
                            --bs-btn-padding-y: 0;
                            --bs-btn-padding-x: 0;
                          ">
                                    <i class="fi fi-rr-eye-crossed"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-3 text-center">
                            <form action="" method="" class="m-0">
                                <button
                                    class="btn border-0"
                                    type="sumbit"
                                    style="
                            vertical-align: middle;
                            --bs-btn-padding-y: 0;
                            --bs-btn-padding-x: 0;
                          ">
                                    <i class="fi fi-rr-trash"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="row mb-3">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link text-dark">
                    <i class="fi fi-rr-angle-left">
                    </i
                    >
                </a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark" href="#">
                    <i class="fi fi-rr-angle-right">
                    </i
                    >
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>
</html>